:root {
  --palette-color1: #16152f;
  --palette-color2: #242f49;
  --palette-color3: #384358;
  --palette-color4: #ffa586;
  --palette-color5: #b51a2b;
  --palette-color6: #541a2e;

  /* outline variables for visualizing grid and flex placement */

  --layer0: 4px dashed purple;
  --layer1: 2px dashed aqua;
  --layer2: 2px dashed green;
  --layer3: 2px dashed yellow;
  --layer4: 2px dashed red;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  padding: 0.5rem;
}

html {
  background: linear-gradient(#16152f 50%, #b51a2b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 16px;
  scrollbar-width: none;

  outline-offset: 0.625rem;
}

.topnav {
  width: 100%;
  color: var(--palette-color4);
  position: sticky;
  display: flex;
  flex-direction: row;

  justify-content: center;

  outline: 2px dashed orange;
}

.topnav > a {
  color: var(--palette-color4);
  background-color: var(--palette-color2);
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;

  outline: var(--layer2);
}

header {
  width: 100%;
  padding: 0.9375rem;

  outline: var(--layer0);
}

/* Container for headshot name and link icons */
.title {
  outline: var(--layer1);
}

/* h1 containing the headshot and name */
#title-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  color: var(--palette-color4);

  outline: var(--layer2);
}

/* Container for fontawesome icons under name and contact info*/
.personal-info {
  display: grid;
  grid: 'icons icons . . contact contact';

  width: 100%;
  outline: var(--layer2);
}

/*All the personal links*/
.social-icons{
grid-area: icons;
display: flex;
justify-content: flex-start;
align-content: center;
}

/*Contact info in row with social links*/
#contact-info {
  color: var(--palette-color4);
  grid-area: contact;
  outline: var(--layer3);
  text-align: center;
    font-size:1.5rem;
  padding: 0.625rem;
}

/* each individial icon */
.icon a {
  color: var(--palette-color5);
  font-size: 3rem;
  padding: 0.625rem;
  
  outline: var(--layer3);
}

/* inline img headshot */
#img-headshot {
  border-radius: 50%;
  height: 10%;
  width: 10%;
  padding-left: 0.625rem;

  outline: var(--layer3);
}

main {
  margin-top: 1.25rem;
  width: 100%;

  outline: var(--layer0);
}

.body-wrapper1 {
  display: grid;
  column-gap: 1rem;

  grid:
    "licences licences skills skills"
    "licences licences skills skills"
    "licences licences skills skills"
    "licences licences skills skills";

  color: white;
  font-size: 1rem;

  outline: var(--layer1);
}

.licences {
  text-align: center;
  grid-area: licences;

  height: 37.5rem;

  outline: var(--layer2);
}

.skills {
  text-align: center;
  grid-area: skills;
  height: 37.5rem;

  outline: var(--layer2);
}

.sub-wrapper {
  margin-top: 0.625rem;
  outline: var(--layer4);
}
